{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"examples/chain.cljk" ".clj"
  "examples/live_murakumo.cljk" ".clj"
  "src/langchain/db.cljk" ".cljc"
  "src/langchain/edn_persist.cljk" ".cljc"
  "src/langchain/edn_persist_cli.cljk" ".clj"
  "src/langchain/json.cljk" ".cljc"
  "src/langchain/jvm.cljk" ".cljc"
  "src/langchain/kotoba_db.cljk" ".cljc"
  "src/langchain/kotobase_persist.cljk" ".cljc"
  "src/langchain/memory.cljk" ".cljc"
  "src/langchain/message.cljk" ".cljc"
  "src/langchain/model.cljk" ".cljc"
  "src/langchain/parser.cljk" ".cljc"
  "src/langchain/persist.cljk" ".cljc"
  "src/langchain/prompt.cljk" ".cljc"
  "src/langchain/repo_profile.cljk" ".cljc"
  "src/langchain/runnable.cljk" ".cljc"
  "src/langchain/tool.cljk" ".cljc"
  "test/langchain/catalog_test.cljk" ".cljc"
  "test/langchain/chain_test.cljk" ".cljc"
  "test/langchain/db_contract_test.cljk" ".cljc"
  "test/langchain/db_test.cljk" ".cljc"
  "test/langchain/edn_persist_cli_test.cljk" ".clj"
  "test/langchain/edn_persist_portable_test.cljk" ".cljc"
  "test/langchain/edn_persist_test.cljk" ".clj"
  "test/langchain/json_test.cljk" ".cljc"
  "test/langchain/jvm_test.cljk" ".clj"
  "test/langchain/kotoba_db_async_test.cljk" ".cljc"
  "test/langchain/kotoba_db_test.cljk" ".cljc"
  "test/langchain/kotobase_persist_test.cljk" ".cljc"
  "test/langchain/memory_test.cljk" ".cljc"
  "test/langchain/message_test.cljk" ".cljc"
  "test/langchain/model_test.cljk" ".cljc"
  "test/langchain/openai_model_test.cljk" ".cljc"
  "test/langchain/parser_test.cljk" ".cljc"
  "test/langchain/persist_test.cljk" ".cljc"
  "test/langchain/prompt_test.cljk" ".cljc"
  "test/langchain/repo_profile_test.cljk" ".cljc"
  "test/langchain/runnable_test.cljk" ".cljc"
  "test/langchain/tool_test.cljk" ".cljc"
  "test/portable_nbb.cljk" ".cljs"}}
